<h1>Evan<span>for</span>Web</h1>
<nav class="main-menu">
	<ul>
		<li id="navAbout">
			<a class="nav-item" data-scroll data-options="easing: easeInOutQuad" data-href="#sectionAbout" href="sectionAbout" title="About">
				<span>About</span>
				<i class="fa fa-user"></i>
			</a>
		</li><!--
		--><li id="navWeb">
			<a class="nav-item" data-scroll data-options="easing: easeInOutQuad" data-href="#sectionWeb" href="sectionWeb" title="Web">
				<span>Web</span>
				<i class="fa fa-code"></i>
			</a>
		</li><!--
		--><li id="navDesign">
			<a class="nav-item" data-scroll data-options="easing: easeInOutQuad" data-href="#sectionDesign" href="sectionDesign" title="Design">
				<span>Design</span>
				<i class="fa fa-paint-brush"></i>
			</a>
		</li><!--
		--><li id="navContact">
			<a class="nav-item" data-scroll data-options="easing: easeInOutQuad" data-href="#sectionContact" href="sectionContact" title="Contact">
				<span>Contact</span>
				<i class="fa fa-envelope"></i>
			</a>
		</li>
		<div class="res-nav-btn-contain">
	        <a href="#" id="resNavBtn" onclick="return false;">
	            <div id="resNavIcon">
	                <span></span>
	                <span></span>
	                <span></span>
	                <span></span>
	            </div>
	        </a>
	    </div>
	</ul>
	<div class="responsive-nav">
		<ul>
			<li id="resNavAbout">
				<a class="nav-item" data-scroll data-options="easing: easeInOutQuad" data-href="#sectionAbout" href="sectionAbout" title="About">
					<span>About</span>
					<i class="fa fa-user"></i>
				</a>
			</li><!--
			--><li id="resNavWeb">
				<a class="nav-item" data-scroll data-options="easing: easeInOutQuad" data-href="#sectionWeb" href="sectionWeb" title="Web">
					<span>Web</span>
					<i class="fa fa-code"></i>
				</a>
			</li><!--
			--><li id="resNavDesign">
				<a class="nav-item" data-scroll data-options="easing: easeInOutQuad" data-href="#sectionDesign" href="sectionDesign" title="Design">
					<span>Design</span>
					<i class="fa fa-paint-brush"></i>
				</a>
			</li><!--
			--><li id="resNavContact">
				<a class="nav-item" data-scroll data-options="easing: easeInOutQuad" data-href="#sectionContact" href="sectionContact" title="Contact">
					<span>Contact</span>
					<i class="fa fa-envelope"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>